@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: 'Roboto';
    src: url(./roboto-v30-latin-300.ttf);
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto';
    src: url(./roboto-v30-latin-regular.ttf);
}
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: 'Roboto';
    src: url(./roboto-v30-latin-500.ttf);
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'Roboto';
    src: url(./roboto-v30-latin-700.ttf);
}
